//COLORS
$transparentDark: rgba(40,40,40,0.9);
$transparentMedium: rgba(75,75,75,0.7);
$transparentLight: rgba(110,110,110,0.8);
$pink: #ff7979;
$darkPink: darken($pink, 20%);
$lightPink: #ff9393;
$lighterPink: #ffaeae;
$orange: #f89654;
$lightOrange: #f9ab76;
$lighterOrange: #fac098;
$green: #6CAB19;
$yellow: #CEE24A;
$blue: #4298f4;
$blueDark: #3469a3;
$red: #e04141;
$greyRed: #992f2f;

/* Responsive Design */
* {
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
font-family: fresno, sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  display:none;
}

body{
  margin:0;
  padding:0;
  //overflow-x: hidden
  background-image:url('textures/wild_oliva.png');
  background-repeat: repeat;
  width:100vw;
  height:100vh;
}

.row::after {
  content: '';
  clear:both;
  display:block;
}

[class*="col-"] {
  width:100%;
  float: left;
  padding: 15px;
}

.sCol {
  width:50%;
  float: left;
  padding: 15px;
}


.Acol-1 {width: 8.33%;}
.Acol-2 {width: 16.66%;}
.Acol-3 {width: 25%;}
.Acol-4 {width: 33.33%;}
.Acol-5 {width: 41.66%;}
.Acol-6 {width: 50%;}
.Acol-7 {width: 58.33%;}
.Acol-8 {width: 66.66%;}
.Acol-9 {width: 75%;}
.Aol-10 {width: 83.33%;}
.Acol-11 {width: 91.66%;}
.Acol-12 {width: 100%;}


@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}


@media only screen and (min-width: 768px) {
    /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}


.container {
  height:100vh;
  width:100vw;
  position:relative;
  transition:transform 0.3s ease;
  overflow:hidden;
  //border:4px solid green;

  .settings {
    position:absolute;
    top:0;
    left:50%;
    padding:30px 40px 30px 40px;
    background-color: rgb(90,90,90);
    z-index: 10;
    transform: translate(-50%, -100%);
    transition: 0.5s ease;
    .settingsToggle {
      position:absolute;
      background-color:inherit;
      height:40px; width:80px;
      border-radius: 0 0 50% 50%;
      z-index:9;
      bottom:0;left:50%;
      transform: translate(-50%, 100%);
      cursor:pointer;
      transition:0.2s ease;
      &:hover {background-color: rgb(110,110,110); }
      i {
        position:absolute;
        pointer-events: none;
        top:50%; left:50%;
        transform: translate(-50%, -50%);
      }
    }
    input[type="radio"] {
      display: none;
    }
    input[type="radio"]:checked + label {
      background-color:$red;
      color:white;
    }
    label {
      padding:10px;
      display:block;
      background-color:rgb(110,110,110);
      color:white; letter-spacing: 1px;
      font-size:20px;
      cursor:pointer;
      width:150px;
      text-align:center;
      transition:0.2s ease;
      &:hover{background-color: rgb(130,130,130);}
    }
    .first {margin-bottom:15px;}
    .second {margin-top:15px;}
  }
  .toggleSettings {
    transform: translate(-50%, 0%);
  }

  .feature {
    position:absolute;
    overflow:hidden;
    @media only screen and (min-width: 600px) { height: 50%; width:50%; position:absolute; }
    height: 50%; width:50%; position:absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    z-index:0;
    padding:0;
    transition: height 0.4s ease, width 0.25s 0.4s ease, transform 0.3s ease, box-shadow 0.3s cubic-bezier(.25,.8,.25,1);

    .content {
      color:white;
      position: absolute;
      font-family:fresno, sans-serif;
      top:50%; left:50%;
      z-index: 1;
      transform: translate(-50%, -50%);
      pointer-events: none;
      height:auto;
      width:auto;
      text-align: center;
      transition: transform 0.3s;
      .icon {
        top:0; right:0; left:0; bottom:0;
        margin:0 auto;
        height:20%;
        width:20%;
        transition: 0.2s ease;
      }
      h1 {
        font-size: 16px;
        text-align: center;
        margin-top:10px; margin-bottom: 5px;
        @media only screen and (min-width: 600px){font-size: 20px;}
        @media only screen and (min-width: 768px){font-size: 24px;}
      }
      span {
        color:rgba(245,245,245,0.85);
        font-family: 'proxima-nova', sans-serif;
        font-size: 12px;
        @media only screen and (min-width: 600px){font-size: 14px;}
        @media only screen and (min-width: 768px){font-size: 16px;}
        }
    }

    //dark overlay on features----------
    .darkOverlay {
      position:absolute;
      height: 100%; width:100%;
      background: rgba(20,20,20,0.4);
      z-index:1;
      display:block;
    }
    .overlayHover {
      transition: background-color 0.2s;
      background: rgba(20,20,20,0.8);
      cursor:pointer;
      &:hover, .darkOverlay {
        background: rgba(20,20,20,0.4);
      }
    }

    //-------------------------------------
  }
  .clickable{
    transform: scale(0.95);
  }
  .notClickable {
    pointer-events: none;
    transform:scale(0.8);
    transition: transform 0.3s ease;
  }

  .mobileExpanded {
    top:0;
    transition: top 0.2s;
  }
  .expandedContent {
     box-sizing: border-box;
    bottom:50%; right:50%;
    transform: translate(50%,55%);
    position:absolute;
    height:auto;
    width:100%;
    max-width:700px;
    height:auto;
    z-index:10;
    font-family: fresno, sans-serif;
    display:none;
    transition: transform 0.5s ease-in-out;
    background-color:rgba(15,15,15,0.9);
    padding-bottom:20px;
    overflow:hidden;

    h1 {
      color:white;
      font-family: fresno, sans-serif; font-size: 26px;
    }
    h2 {
      color:white;
      font-family: fresno, sans-serif; font-size: 16px;
      margin-top:0;
      margin-bottom:5px;
    }

    .section {
      background-color: $transparentDark;
      width:100%;

    }
    .userInput {
      width:90%;
      margin:0 auto;
      padding:10px;
      padding-bottom: 15px;
      margin-bottom:40px;
      //border-radius:10px;
      position:relative;
    }
    input {
      font-family:'proxima-nova', sans-serif;
      text-align: center;
      text-transform: uppercase; font-weight: bolder;
      background-color: $transparentLight;
      border:none;
      //border-radius:5px;
      color:white; font-size:12px;
      border:2px solid transparent;
      overflow: visible;
      &::placeholder { color: rgb(190,190,190); }
      &:focus { outline: none; border:2px solid white; transition: border 0.2s ease;}
    }
    .calculate {
      padding:10px 0 10px 0;
      width:30%;
      background:linear-gradient(to right, $pink 50%,$orange);
      text-transform: uppercase; font-size: 18px;
      letter-spacing: 1px;
      text-align: center;
      color:white;
      position:absolute;
      bottom:0;left:50%;
      transform: translate(-50%, 50%);
      transition:0.2s ease;
      //border-radius: 5px;
      user-select: none;
      cursor: pointer;
      &:hover {background:linear-gradient(to right, $lightPink 50%,$lightOrange); width:32%}
      &:active {background:linear-gradient(to right, $lighterPink 50%,$lighterOrange); width:29%; color:rgb(210,210,210);}
    }
    .calculateError {
      border:2px solid $pink;
    }

    .userOutput {
      position:relative;
      max-height:30vh;
      width:80%;
      margin:auto;
      //border-radius: 5px;
      .scrolldown {
        position:fixed;
        height:24px;
        width:24px;
        bottom:10px;
        left:50%;
        transform:translateX(-50%);
        //border-radius:50%;
        background:linear-gradient(to right, $pink 50%,$orange);
        img {
          max-height:100%; max-width:100%;
        }
      }
    }
  }

  i {
    color:white;
    cursor:pointer;
    user-select: none;
    transition: 0.2s;
    &:hover { color: rgb(220,220,220); }
    &:active { color: rgb(190,190,190); }
  }
  .expandedInfo {
    position:absolute;
    right:0; bottom:0;
    height:100%; width:100%;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    padding:20px;
    z-index:10;
    overflow-y:scroll;
    p{
      font-family: 'proxima-nova', sans-serif;
      color:rgba(255,255,255,0.8);
      text-align: left;
    }
    li {
      font-family: 'proxima-nova', sans-serif;
      color:rgba(255,255,255,0.8);
      text-align: left;
    }
    b { font-family: 'proxima-nova', sans-serif; }
  }
  .expandInfo { transform: translateX(0%);}

  .infoIcon {
    position:absolute;
    top:20px;
    right:20px;
  }
  .pinkBG {background: linear-gradient(to right, $pink, $orange);}
  .greenBG {background: linear-gradient(to right, $green, $yellow);}
  .redBG {background: linear-gradient(to right, $red, $greyRed);}
  .blueBG {background: linear-gradient(to right, $blue, $blueDark);}

  .oneRM {
    top: 0; left:0;
    .fixedBackground {
      position:absolute;
      top:0;left:0;
      width:100vw; height:100vh;
      background-image:url('textures/wild_oliva.png');
      background-repeat: repeat;
      @media only screen and (min-width: 768px) {
        background-image:url('images/deadlift-min.jpg');
        background-size: cover;
      }
    }
    .for {
      color: white; text-transform: uppercase; font-size:12px; text-align: center;
      padding:0;
      padding-top:15px; padding-bottom: 15px;
    }
    .userInput {
      padding-bottom:30px;
    }
    .userOutput {overflow-y: scroll;}
    .repNumber {
      background-color: $transparentLight;
      height:45px;
      font-size: 14px;
      text-transform: uppercase;
      color:rgb(200,200,200);
      margin-bottom:10px;
    }
    .repMax {
      background-color: $transparentMedium;
      height:45px;
      color:white;
      margin-bottom:10px;
    }
    /* width */
    .userOutput::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    .userOutput::-webkit-scrollbar-track {
      background: $transparentDark;
    }

    /* Handle */
    .userOutput::-webkit-scrollbar-thumb {
      background: $lightPink;
    }

    /* Handle on hover */
    .userOutput::-webkit-scrollbar-thumb:hover {
      background: $lighterPink;
    }
  }

  .tdee{
    top: 0; right:0;
    .fixedBackground {
      position:absolute;
      top:0;right:0;
      width:100vw; height:100vh;
      background-image:url('textures/wild_oliva.png');
      background-repeat: repeat;
      @media only screen and (min-width: 768px) {
        background-image:url('images/food-min.jpg');
        background-size: cover;
      }
    }
    .userInput {padding-bottom:15px;}
    .userOutput {padding:0px;}
    .heightInputWrapper {
      padding:2px;
      width:50%;
      display: inline-block;
    }
    input {
      width:100%;
      padding:15px;
    }
    .cals {
      background-color: $transparentLight;
      height:45px;
      font-size: 14px;
      text-transform: uppercase;
      color:rgb(200,200,200);
    }
    .calsBurnt {
      background-color: $transparentMedium;
      height:45px;
      color:white;
    }
  }

  .lbm {
    bottom:0; left:0;
    .fixedBackground {
      position:absolute;
      bottom:0; left:0;
      width:100vw; height:100vh;
      background-image:url('textures/wild_oliva.png');
      background-repeat: repeat;
      @media only screen and (min-width: 768px) {
        background-image:url('images/shredded-min.jpg');
        background-size: cover;
      }
    }
    .userInput {
      padding-bottom: 25px;
    }
    .headerContainer {
      display:table;
      width:100%;
    }
    h2 {
      width:50%;
      display:table-cell;
      vertical-align: middle;
    }
    .inputRow{
      width:100%;
    }
    .inputWrapper {
      width:50%;
      display:inline-block;
      padding:5px;
    }
    input{
      height:35px;
      width:100%;
      vertical-align: middle;
    }
    .userOutput{padding:5px;}
    .resultsRow {
      display:table;
      width:100%;
      height:35px;
      color:white; font-family: 'fresno', sans-serif;
      //border-radius: 5px;
      overflow:hidden;
    }
    .label {
      display:table-cell;
      width:33.3%;
      vertical-align: middle;
      background-color:$transparentLight;
    }
    .output {
      display:table-cell;
      background-color:$transparentMedium;
      width:66.7%;
      vertical-align: middle;
    }
  }

  .bmi {
    bottom:0; right:0;
    .fixedBackground {
      position:absolute;
      bottom:0; right:0;
      width:100vw; height:100vh;
      background-image:url('textures/wild_oliva.png');
      background-repeat: repeat;
      @media only screen and (min-width: 768px) {
        background-image:url('images/cardio-min.jpg');
        background-size: cover;
      }
    }
    .userInput {
      padding-bottom: 25px;
      //border:1px dashed green;
    }
    .headerContainer {
      display:table;
      width:100%;
    }
    h2 {
      width:50%;
      display:table-cell;
      vertical-align: middle;
      //border:1px dotted yellow;
    }
    .inputRow{
      width:100%;
      display:table;
    }
    .inputWrapper {
      width:25%;
      display:table-cell;
      //float:left;
      padding:5px;
      //border:1px solid white;
    }
    .inputwrapperOutput{
      width:50%;
      display:table-cell;
      padding:5px;
    }
    input{
      height:35px;
      width:100%;
    }
    .userOutput{padding:5px;}
    .resultsRow {
      display:table;
      width:100%;
      height:35px;
      color:white; font-family: 'fresno', sans-serif;
      //border-radius: 5px;
      overflow:hidden;
    }
    .label {
      display:table-cell;
      width:33.3%;
      vertical-align: middle;
      background-color:$transparentLight;
    }
    .output {
      display:table-cell;
      background-color:$transparentMedium;
      width:66.7%;
      vertical-align: middle;
    }
  }

  .expanded {
    height:100%;
    width:100%;
    cursor: auto;
    .content {
      .icon{
      }
      h1 {
      }
      span {
      }
    }
  }

  .notExpanded {
    .content {
      .icon{
      }
      h1 {
      }
      span {
      }
    }
  }
}

.feature:hover .content {
  .icon {
    height:25%;
    width:25%;
  }
}



.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.closeContainer {
  position:absolute;
  top:3%; right:3%;
  height:50px; width:50px;
  z-index:10;
  pointer-events: none;

  .close {
    position:absolute;
    z-index: 10;
    top:0; right:0; bottom:0; left:0;
    margin:auto;
    height:0px; width:0px;
    background-color:white;
    overflow:hidden;
    transition: height 0.2s ease, width 0.2s ease;
    pointer-events: auto;
    cursor:pointer;
    transition:box-shadow 0.3s cubic-bezier(.25,.8,.25,1), height 0.2s ease, width 0.2s ease;

    img{
      top:0;bottom:0;right:0;left:0;
      margin:auto;
      position:absolute;
    }
  }
}
