//COLORS
$red: #ff694c;
$orange: #ff9c4c;
$green: #4cff93;
$purple: #8d4cff;
$darkRed: darken($red, 10%);
$darkOrange: darken($orange, 10%);
$darkGreen: darken($green, 10%);
$darkPurple: darken($purple, 10%);
$transparentDark: rgba(40,40,40,0.9);
$transparentMedium: rgba(75,75,75,0.7);

$transparentLight: rgba(110,110,110,0.8);

/* Responsive Design */
* { box-sizing: border-box; }

body{
  margin:0;
  padding:0;
  //overflow-x: hidden
  background-color:rgb(20,20,20);
  width:100vw;
  height:100vh;
}

.row::after {
  content: '';
  clear:both;
  display:block;
}

[class*="col-"] {
  width:100%;
  float: left;
  padding: 15px;
}

.sCol {
  width:50%;
  float: left;
  padding: 15px;
}

.Acol-1 {width: 8.33%;}
.Acol-2 {width: 16.66%;}
.Acol-3 {width: 25%;}
.Acol-4 {width: 33.33%;}
.Acol-5 {width: 41.66%;}
.Acol-6 {width: 50%;}
.Acol-7 {width: 58.33%;}
.Acol-8 {width: 66.66%;}
.Acol-9 {width: 75%;}
.Aol-10 {width: 83.33%;}
.Acol-11 {width: 91.66%;}
.Acol-12 {width: 100%;}


@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}


@media only screen and (min-width: 768px) {
    /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}


.container {
  height:100vh;
  width:100vw;
  //overflow:hidden;
  position:relative;
  transition:transform 0.3s ease;


  .feature {
    position:absolute;
    height:25%; width:100%;
    @media only screen and (min-width: 600px) { height: 50%; width:50%; position:absolute; }
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    //overflow:hidden;
    z-index:0;
    padding:0;
    cursor:pointer;
    transition: height 0.4s ease, width 0.25s 0.4s ease;
    .content {
      color:white;
      position: absolute;
      font-family:'Roboto', sans-serif;
      top:50%; left:50%;
      z-index: 1;
      transform: translate(-50%, -50%);
      //margin: 0 auto;
      height:auto;
      width:auto;
      text-align: center;
      transition: transform 0.3s;
      .icon {
        top:0; right:0; left:0; bottom:0;
        margin:0 auto;
        height:60px;
        width:60px;
        transition: 0.2s ease;
      }
      h1 {
        font-size: 2.2vw;
        text-align: center;
        margin-top:10px; margin-bottom: 5px;
      }
      span {
        color:rgba(245,245,245,0.7);
        }
    }

    //dark overlay on features----------
    &::after {
      content:'';
      position:absolute;
      display:block;
      height:100%;
      width:100%;
      background-color:rgba(30,30,30,0.8);
      transition: background-color 0.2s ease;
    }
    &:hover::after {
      background-color:rgba(30,30,30,0.45);
    }
    //-------------------------------------
  }


  .oneRM {
    background-image:url('images/deadlift-min.jpg');
    top:0; left:0;
    .expandedContent {
      //border:1px dashed white;
      bottom:50%; right:50%;
      transform: translate(50%,60%);
      position:absolute;
      height:auto;
      width:100%;
      max-width:800px;
      height:auto;
      z-index:10;
      //overflow:hidden;
      font-family: 'Roboto', sans-serif;
      display:none;
      transition: transform 0.5s ease-in-out;
      .section {
        background-color: $transparentDark;
        width:100%;
      }
      .userInput {
        width:100%;
        margin:0 auto;
        padding:10px;
        margin-bottom:40px;
        border-radius:10px;
        div { color: white; text-transform: uppercase;}
      }
      input {
        height:50px;
        text-align: center;
        text-transform: uppercase; font-weight: bolder;
        background-color: $transparentLight;
        border:none; border-radius:5px;
        color:white; font-size:16px;
        &::placeholder { color: rgb(190,190,190); }
        &:focus { outline: none; border:1px solid white; }
      }
      .output {
        position:relative;
        overflow:hidden;
        max-height:200px;
        width:80%;
        margin:auto;
        overflow-y: scroll;
        div {
          margin-bottom:10px;
        }
        &:last-child {margin-bottom:0px;}
        .repNumber {
          background-color: $transparentLight;
          height:45px;
          font-size: 14px;
          text-transform: uppercase;
          color:rgb(200,200,200);
        }
        .repMax {
          background-color: $transparentMedium;
          height:45px;
        }
      }
    }
  }
  .tdee{
    background-image:url('images/food-min.jpg');
    top:25%;
    @media only screen and (min-width: 600px) {top: 0; right:0; }
  }
  .lbm {
    background-image:url('images/shredded-min.jpg');
    bottom:25%;
    @media only screen and (min-width: 600px) {bottom:0; left:0;}
  }
  .thr {
    background-image:url('images/cardio-min.jpg');
    bottom:0;
    @media only screen and (min-width: 600px) {right:0;}
  }

  .expanded {
    height:100%;
    width:100%;
    cursor: auto;
    .content {
      .icon{
      }
      h1 {
      }
      span {
      }
    }
  }

  .notExpanded {
    .content {
      .icon{
      }
      h1 {
      }
      span {
      }
    }
  }
}

.feature:hover .content {
  .icon {
    height:70px;
    width:70px;
  }
}



.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.closeContainer {
  position:absolute;
  top:3%; right:3%;
  height:50px; width:50px;
  z-index:10;
  pointer-events: none;
  .close {
    position:absolute;
    z-index: 10;
    top:0; right:0; bottom:0; left:0;
    margin:auto;
    height:0px; width:0px;
    border-radius: 50%;
    background-color:white;
    overflow:hidden;
    transition: height 0.2s ease, width 0.2s ease;
    pointer-events: auto;
    img{
      top:0;bottom:0;right:0;left:0;
      margin:auto;
      position:absolute;
    }
  }
}

/* width */
.output::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.output::-webkit-scrollbar-track {
  background: $transparentDark;
}

/* Handle */
.output::-webkit-scrollbar-thumb {
  background: rgb(130,130,130);
}

/* Handle on hover */
.output::-webkit-scrollbar-thumb:hover {
  display:none;
}
