/* Responsive Design */
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #141414;
  width: 100vw;
  height: 100vh; }

.row::after {
  content: '';
  clear: both;
  display: block; }

[class*="col-"] {
  width: 100%;
  float: left;
  padding: 15px; }

.sCol {
  width: 50%;
  float: left;
  padding: 15px; }

.Acol-1 {
  width: 8.33%; }

.Acol-2 {
  width: 16.66%; }

.Acol-3 {
  width: 25%; }

.Acol-4 {
  width: 33.33%; }

.Acol-5 {
  width: 41.66%; }

.Acol-6 {
  width: 50%; }

.Acol-7 {
  width: 58.33%; }

.Acol-8 {
  width: 66.66%; }

.Acol-9 {
  width: 75%; }

.Aol-10 {
  width: 83.33%; }

.Acol-11 {
  width: 91.66%; }

.Acol-12 {
  width: 100%; }

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; } }
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%; }

  .col-2 {
    width: 16.66%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33%; }

  .col-5 {
    width: 41.66%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33%; }

  .col-8 {
    width: 66.66%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33%; }

  .col-11 {
    width: 91.66%; }

  .col-12 {
    width: 100%; } }
.container {
  height: 100vh;
  width: 100vw;
  position: relative;
  transition: transform 0.3s ease; }
  .container .feature {
    position: absolute;
    overflow: hidden;
    height: 25%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    z-index: 0;
    padding: 0;
    transition: height 0.4s ease, width 0.25s 0.4s ease; }
    @media only screen and (min-width: 600px) {
      .container .feature {
        height: 50%;
        width: 50%;
        position: absolute; } }
    .container .feature .content {
      color: white;
      position: absolute;
      font-family: 'Roboto', sans-serif;
      top: 50%;
      left: 50%;
      z-index: 1;
      transform: translate(-50%, -50%);
      pointer-events: none;
      height: auto;
      width: auto;
      text-align: center;
      transition: transform 0.3s; }
      .container .feature .content .icon {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: 0 auto;
        height: 60px;
        width: 60px;
        transition: 0.2s ease; }
      .container .feature .content h1 {
        font-size: 2.2vw;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 5px; }
      .container .feature .content span {
        color: rgba(245, 245, 245, 0.7); }
    .container .feature .darkOverlay {
      position: absolute;
      height: 100%;
      width: 100%;
      background: rgba(20, 20, 20, 0.4);
      z-index: 1;
      display: block; }
    .container .feature .overlayHover {
      transition: background-color 0.2s;
      background: rgba(20, 20, 20, 0.8);
      cursor: pointer; }
      .container .feature .overlayHover:hover, .container .feature .overlayHover .darkOverlay {
        background: rgba(20, 20, 20, 0.4); }
  .container .oneRM {
    background-image: url("textures/funky.png");
    top: 0;
    left: 0; }
    @media only screen and (min-width: 600px) {
      .container .oneRM {
        background-image: url("images/deadlift-min.jpg"); } }
    .container .oneRM .expandedContent {
      bottom: 50%;
      right: 50%;
      transform: translate(50%, 55%);
      position: absolute;
      height: auto;
      width: 100%;
      max-width: 700px;
      height: auto;
      z-index: 10;
      font-family: 'Roboto', sans-serif;
      display: none;
      transition: transform 0.5s ease-in-out; }
      .container .oneRM .expandedContent h1 {
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 26px; }
      .container .oneRM .expandedContent .section {
        background-color: rgba(40, 40, 40, 0.9);
        width: 100%; }
      .container .oneRM .expandedContent .error {
        padding: 30px 30px 30px 30px;
        z-index: 20;
        background: linear-gradient(to right, #ff7979 50%, #f89654);
        color: white;
        font-weight: bolder;
        font-size: 18px;
        text-transform: uppercase;
        position: absolute;
        height: auto;
        width: auto;
        top: 50%;
        left: 50%;
        display: none;
        transform: translate(-50%, -50%);
        border-radius: 10px; }
      .container .oneRM .expandedContent .userInput {
        width: 90%;
        margin: 0 auto;
        padding: 10px;
        margin-bottom: 40px;
        border-radius: 10px;
        position: relative; }
        .container .oneRM .expandedContent .userInput .for {
          color: white;
          text-transform: uppercase; }
        .container .oneRM .expandedContent .userInput .row {
          margin-bottom: 25px; }
        .container .oneRM .expandedContent .userInput .calculate {
          padding: 10px 0 10px 0;
          width: 30%;
          background: linear-gradient(to right, #ff7979 50%, #f89654);
          text-transform: uppercase;
          font-size: 14px;
          text-align: center;
          color: white;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 50%);
          transition: 0.2s;
          border-radius: 5px;
          user-select: none; }
          .container .oneRM .expandedContent .userInput .calculate:hover {
            background: linear-gradient(to right, #ff9393 50%, #f9ab76); }
          .container .oneRM .expandedContent .userInput .calculate:active {
            background: linear-gradient(to right, #ffaeae 50%, #fac098); }
      .container .oneRM .expandedContent input {
        height: 50px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bolder;
        background-color: rgba(110, 110, 110, 0.8);
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 14px; }
        .container .oneRM .expandedContent input::placeholder {
          color: #bebebe; }
        .container .oneRM .expandedContent input:focus {
          outline: none;
          border: 1px solid white; }
      .container .oneRM .expandedContent .output {
        position: relative;
        max-height: 40vh;
        width: 80%;
        margin: auto;
        overflow-y: scroll; }
        .container .oneRM .expandedContent .output .scrolldown {
          position: fixed;
          height: 24px;
          width: 24px;
          bottom: 5px;
          left: 50%;
          transform: translateX(-50%);
          border-radius: 50%;
          background: linear-gradient(to right, #ff7979 50%, #f89654); }
          .container .oneRM .expandedContent .output .scrolldown img {
            max-height: 100%;
            max-width: 100%; }
        .container .oneRM .expandedContent .output div {
          margin-bottom: 10px; }
        .container .oneRM .expandedContent .output:last-child {
          margin-bottom: 0px; }
        .container .oneRM .expandedContent .output .repNumber {
          background-color: rgba(110, 110, 110, 0.8);
          height: 45px;
          font-size: 14px;
          text-transform: uppercase;
          color: #c8c8c8; }
        .container .oneRM .expandedContent .output .repMax {
          background-color: rgba(75, 75, 75, 0.7);
          height: 45px;
          color: white; }
  .container .tdee {
    background-image: url("textures/funky.png");
    top: 25%; }
    @media only screen and (min-width: 600px) {
      .container .tdee {
        top: 0;
        right: 0;
        background-image: url("images/food-min.jpg"); } }
  .container .lbm {
    background-image: url("textures/funky.png");
    bottom: 25%; }
    @media only screen and (min-width: 600px) {
      .container .lbm {
        bottom: 0;
        left: 0;
        background-image: url("images/shredded-min.jpg"); } }
  .container .thr {
    background-image: url("textures/funky.png");
    bottom: 0; }
    @media only screen and (min-width: 600px) {
      .container .thr {
        right: 0;
        background-image: url("images/cardio-min.jpg"); } }
  .container .expanded {
    height: 100%;
    width: 100%;
    cursor: auto; }

.feature:hover .content .icon {
  height: 70px;
  width: 70px; }

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer; }

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.card-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.card-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.card-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.card-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.closeContainer {
  position: absolute;
  top: 3%;
  right: 3%;
  height: 50px;
  width: 50px;
  z-index: 10;
  pointer-events: none; }
  .closeContainer .close {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 0px;
    width: 0px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
    transition: height 0.2s ease, width 0.2s ease;
    pointer-events: auto; }
    .closeContainer .close img {
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      position: absolute; }

/* width */
.output::-webkit-scrollbar {
  width: 5px; }

/* Track */
.output::-webkit-scrollbar-track {
  background: rgba(40, 40, 40, 0.9); }

/* Handle */
.output::-webkit-scrollbar-thumb {
  background: #ff9393; }

/* Handle on hover */
.output::-webkit-scrollbar-thumb:hover {
  background: #ffaeae; }

/*# sourceMappingURL=exerciseTools.css.map */
